@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #142257;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.nav__list {
  display: none;
}
@media (min-width: 900px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
.nav__link {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
}
.nav__services {
  display: none;
}
@media (min-width: 900px) {
  .nav__services {
    display: block;
  }
}

#navbar-responsive {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* background-color: #342345; */
  background-color: #142257;
}

.res__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.res__nav__link {
  display: block;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.mode-btn {
  border: none;
  background-color: transparent;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  border: none;
  background: transparent;
  color: red;
}

#navbar-open {
  border: none;
  background-color: transparent;
}

@media (min-width: 900px) {
  #navbar-close {
    display: none;
  }
}
@media (min-width: 900px) {
  #navbar-open {
    display: none;
  }
}
footer {
  background-color: #15b2f5;
}

.footer {
  padding: 50px 0 50px 0;
}
.footer .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4ac9ff;
  border-radius: 20px;
  row-gap: 30px;
  padding: 20px;
}
@media (min-width: 900px) {
  .footer .subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer .subscribe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer .subscribe__left h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.footer .subscribe__left p {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.footer .subscribe__right {
  position: relative;
}
.footer .subscribe__right input {
  border-radius: 30px;
  border: none;
  padding: 10px 100px 10px 10px;
  color: #9ea3b5;
}
@media (min-width: 900px) {
  .footer .subscribe__right input {
    padding: 20px 200px 20px 10px;
  }
}
.footer .subscribe__right button {
  padding: 7px 20px;
  background-color: #15b2f5;
  border-radius: 20px;
  position: absolute;
  right: 5px;
  top: 3.5px;
  color: #fff;
}
@media (min-width: 900px) {
  .footer .subscribe__right button {
    padding: 12px 20px;
    right: 5px;
    top: 8px;
  }
}
.footer .footerhome {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 900px) {
  .footer .footerhome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .footerhome__left p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  width: 370px;
  line-height: 20px;
  padding: 45px 0;
}
.footer .footerhome__left .footerhome__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 24px;
  height: 24px;
}
.footer .footerhome__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.footer .footerhome__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer .footerhome__right ul li {
  color: #fff;
  font-weight: 200;
  font-size: 18px;
}
.footer .footerhome__right ul li:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}

.footer__end {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 20px 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containers {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containerss {
  max-width: 2040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

#home {
  background-color: #142257;
  padding-bottom: 50px;
}

@media (min-width: 900px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.home__left, .home__right {
  display: none;
}
@media (min-width: 900px) {
  .home__left, .home__right {
    display: block;
  }
}
.home__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding-top: 100px;
}
.home__middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  list-style-type: disc;
  color: #9ea3b5;
}
.home__title {
  max-width: 600px;
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.home__free-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.home__free-things div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.home__free-things div p {
  color: #15b2f5;
}
.home a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15b2f5;
  border-radius: 30px;
  gap: 20px;
  padding: 5px 5px 5px 25px;
}
.home a p {
  color: #fff;
  font-size: 18px;
}
.home__other-date {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 250px;
}
@media (min-width: 900px) {
  .home__other-date {
    grid-template-columns: repeat(4, 170px);
  }
}
.home__other-date div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.home__other-date div p {
  color: #fff;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 50px;
  padding: 200px 0 100px 0;
}
@media (min-width: 900px) {
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.services__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.services__right img {
  width: 80%;
}
.services__title {
  color: #000;
  font-size: 35px;
  font-weight: 700;
  max-width: 457px;
}
.services__text {
  color: #545971;
  font-size: 12px;
  font-weight: 300;
  max-width: 337px;
  margin: 25px 0 0px 0;
}
.services__check {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 25px;
  margin-top: 40px;
}
.services__check div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.services__check div p {
  color: #1f3584;
  font-size: 17px;
  font-weight: 600;
}
.services__list {
  color: #f3f5f3;
  background-color: #15b2f5;
  max-width: 306px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 50px;
}
.services__list span {
  color: #fff;
  font-size: 15px;
  font-weight: 900px;
}

.repair__title {
  color: #000;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.repair__text {
  color: #545971;
  max-width: 500px;
  margin: 30px auto 50px auto;
}

.repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repair {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 40px;
  padding-bottom: 100px;
}
@media (min-width: 900px) {
  .repair {
    grid-template-columns: repeat(4, 290px);
    text-align: start;
  }
}
.repair__card h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0 15px 0;
}
.repair__card p {
  max-width: 200px;
  font-size: 12px;
  color: #545971;
  line-height: 15px;
}
.repair__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 230px;
  background-color: #15b2f5;
  border-radius: 20px;
}
.repair__cards h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
}
.repair__cards p {
  color: #fff;
  font-size: 12px;
  font-weight: 200;
  max-width: 180px;
  padding-bottom: 15px;
  line-height: 15px;
}
.repair__cards a {
  color: #15b2f5;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 55px;
}

.hero {
  background-color: #142257;
  margin-bottom: 100px;
  border-radius: 50px;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 600px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  row-gap: 50px;
  padding: 40px 0;
}
@media (min-width: 900px) {
  .card {
    grid-template-columns: repeat(2, 600px);
  }
}
.card__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 900px) {
  .card__hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.card__hero h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 900px) {
  .card__hero h2 {
    text-align: start;
  }
}
.card__hero p {
  font-size: 12px;
  color: #9ea3b5;
  max-width: 340px;
  line-height: 15px;
  padding-top: 10px;
  text-align: center;
}
@media (min-width: 900px) {
  .card__hero p {
    text-align: start;
  }
}

.cards__titles {
  font-size: 25px;
  color: #fff;
  line-height: 30px;
  max-width: 250px;
  margin: 0 auto 20px auto;
}
@media (min-width: 900px) {
  .cards__titles {
    font-size: 35px;
    max-width: 500px;
  }
}

.cards__lists {
  color: #9ea3b5;
  font-size: 14px;
  font-weight: 200;
  max-width: 450px;
  margin: 0 auto;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 10px 0;
}
@media (min-width: 900px) {
  .card__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px 200px 10px 100px;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
@media (min-width: 900px) {
  .work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.work__left img {
  width: 90%;
}
.work__title {
  font-size: 35px;
  max-width: 270px;
  font-weight: 600;
}
.work__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
.work__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.work__right ul span {
  font-size: 35px;
  font-weight: 600;
  color: #9ea3b5;
}
.work__right ul h2 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  max-width: 130px;
}
.work__right ul p {
  color: #545971;
  font-size: 13.5px;
  font-weight: 300;
  max-width: 300px;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}
.accordion-item {
  -webkit-transition: all 3s ease !important;
  transition: all 3s ease !important;
  border-bottom: 1px solid #3b4360;
  position: relative;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
}
.accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.accordion-content {
  display: none;
  padding: 10px;
}
.accordion__title {
  width: 100% !important;
  display: block !important;
  cursor: pointer !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  padding: 0px !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.4s !important;
  transition: color 0.4s !important;
  padding-right: 25px !important;
  color: #545971 !important;
  letter-spacing: 0;
}
.accordion__text {
  font-size: 45px !important;
  color: #545971;
  font-weight: 300;
  font-family: "Raleway", sans-serif !important;
}
.accordion-content {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.67;
  font-family: "Catamaran", sans-serif;
  overflow-x: hidden;
  color: #aab2cd;
}
.accordion__caption {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #545c79;
  text-transform: uppercase;
  font-family: "Catamaran";
  font-weight: 700;
}
.accordion__header {
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  text-align: center;
}

.accardions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 100px;
}
@media (min-width: 900px) {
  .accardions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.accordion__left h2 {
  color: #171921;
  font-size: 35px;
  font-weight: 600;
  max-width: 300px;
  padding-bottom: 20px;
}
.accordion__left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.accordion__left div a {
  color: #15b2f5;
  text-decoration: underline;
}

#improve {
  background-color: #142257;
}

.improve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 100px;
}
@media (min-width: 900px) {
  .improve {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.improve__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.improve__right img {
  width: 100%;
}
.improve__left-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  max-width: 300px;
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 900px) {
  .improve__left-title {
    max-width: 500px;
    font-size: 45px;
    text-align: start;
    padding-top: 0;
  }
}
.improve a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15b2f5;
  border-radius: 30px;
  gap: 20px;
  padding: 5px 0px 5px 25px;
  width: 200px;
}
.improve a p {
  color: #fff;
  font-size: 18px;
}
.improve__free-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.improve__free-things div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.improve__free-things div p {
  color: #15b2f5;
}