.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containers {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containerss {
  max-width: 2040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  // padding-right: 20px;
}
