@import "../utils/variables";

header {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: $primary-color;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__link {
    color: $white-color;
    font-size: 17px;
    line-height: 24px;
  }
}
